/.git
/.idea
/.vscode
/node_modules
/bootstrap/cache/*
/build.sh
/Dockerfile
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/geoip/*
/storage/logs/*
/vendor/*
.env
.env.testing
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.log
.gitignore
.gitattributes
.editorconfig
.gitlab-ci.yml
.cache
.config
.bash_history
database/database.sqlite
