services:
  nginx:
    build:
      context: ./
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/public
    depends_on:
      - app
    networks:
      - default
  app:
    restart: always
    init: true
    build:
      context: ./
      dockerfile: ./docker/fpm/Dockerfile
    volumes:
      - ./:/var/www
      - ./data/app:/data
    environment:
      - ADMIN_EMAIL=${ADMIN_EMAIL:-admin@feedbackie.app}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-password}
    networks:
      - default
networks:
    default:
